<section class="blog-list px-3 py-5 p-md-5">
	<div class="container">

		<!-- fft动画 -->
		<font color="#FF8C00" size='5'>Enjoy a Fourier transformation animation</font></br>
		<a href="./ft.html" target="_blank">
			<font size='4'>Click here</font>
		</a>
		</br></br>                                            


		<!-- 项目列表 -->
		<font color="#FF8C00" size='5'>Some projects</font></br>          
		<a href="https://github.com/Lucas-Wye/Face-Recognition-of-DeepID_Forward_Use_C" target="_blank">			
			<font size='4'>An application based on C language to do face recognition</font>
		</a></br>

		<!-- 工具类 -->
		</br><font color="#FF8C00" size='5'>Some useful programs for daily and data processing</font></br>
		<a href="https://github.com/Lucas-Wye/Useful-tools" target="_blank">			
			<font size='4'>Codes</font>
		</a>
		</br></br>
		
		<!-- 继续 -->
		<font color="#FF8C00" size='5'>To be continued...</font>

	</br>

			<!-- 翻页 -->
			<nav class="blog-nav nav nav-justified my-5">
				<a class="nav-link-prev nav-item nav-link rounded-left" href="post-list.html">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
				<a class="nav-link-next nav-item nav-link rounded-right" href="note-list.html">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
			</nav>

	</div>
</section>


