<section class="blog-list px-3 py-5 p-md-5">
	<div class="container">

		<!-- fft动画 -->
		<font color="#FF8C00">Enjoy a Fourier transformation</font></br>
		<a href="./ft.html" target="_blank">ft</a>
		</br></br>                                            


		<!-- 项目列表 -->
		<font color="#FF8C00">Some projects</font></br>          
		<a href="https://github.com/Lucas-Wye/Face-Recognition-of-DeepID_Forward_Use_C" target="_blank">An application based on C language to do face recognition</a></br>

		<!-- 工具类 -->
		</br><font color="#FF8C00">Some useful programs for daily and data processing</font></br>
		<a href="./tools" target="_blank">Codes</a>
		</br></br>
		
		<!-- 继续 -->
		<font color="#FF8C00">To be continued...</font>

	</div>
</section>

</br></br></br></br></br></br></br></br></br></br></br>


