<section class="blog-list px-3 py-5 p-md-5">
	
	<div class="container">
			<h2 class="heading"><font color="#FF8C00">Note</font></h2>

	<div class="item mb-5">
		<div class="media">
			<div class="media-body">
				<h3 class="title mb-1">Java</h3>
				<div class="meta mb-1"><span class="date">Updated: Oct 16th, 2019</span></div>
				<div class="intro">Java 教程 Java 是由Sun Microsystems公司于1995年5月推出的高级程序设计语言。 Java可运行于多个平台，如Windows, Mac OS，及其他多种UNIX版本的系统 ...</div>
				<a class="more-link" href="8-java.html">Read more &rarr;</a>
			</div>
		</div>
	</div>

	<div class="item mb-5">
		<div class="media">
			<div class="media-body">
				<h3 class="title mb-1">GCC</h3>
				<div class="meta mb-1"><span class="date">Updated: Oct 16th, 2019</span></div>
				<div class="intro">GCC编译器也称为Linux GCC命令，它有很多选项。GCC编译器是Linux下最常用的编译器 ...</div>
				<a class="more-link" href="7-gcc.html">Read more &rarr;</a>
			</div>
		</div>
	</div>

	<div class="item mb-5">
		<div class="media">
			<div class="media-body">
				<h3 class="title mb-1">Network</h3>
				<div class="meta mb-1"><span class="date">Updated: Oct 16th, 2019</span></div>
				<div class="intro">A computer network is a digital telecommunications network which allows nodes to share resources. In computer networks, computing devices exchange data with each other using connections (data links) between nodes. </div>
				<a class="more-link" href="6-network.html">Read more &rarr;</a>
			</div>
		</div>
	</div>


	<div class="item mb-5">
		<div class="media">
			<div class="media-body">
				<h3 class="title mb-1">Vi/Vim</h3>
				<div class="meta mb-1"><span class="date">Updated: Oct 16th, 2019</span></div>
				<div class="intro">所有的 Unix Like 系统都会内建 vi 文书编辑器，其他的文书编辑器则不一定会存在。但是目前我们使用比较多的是 vim 编辑器。vim 具有程序编辑的能力，可以主动的以字体颜色辨别语法的正确性，方便程序设计。</div>
				<a class="more-link" href="5-vi.html">Read more &rarr;</a>
			</div>
		</div>
	</div>


	<div class="item mb-5">
		<div class="media">
			<div class="media-body">
				<h3 class="title mb-1">Git使用</h3>
				<div class="meta mb-1"><span class="date">Updated: Oct 16th, 2019</span></div>
				<div class="intro">Git 是一个开源的分布式版本控制系统，用于敏捷高效地处理任何或小或大的项目。 Git 是 Linus Torvalds 为了帮助管理 Linux 内核开发而开发的一个开放源码的版本控制软件。 Git 与常用的版本控制工具 CVS, Subversion 等不同，它采用了分布式版本库的 ...</div>
				<a class="more-link" href="4-git.html">Read more &rarr;</a>
			</div>
		</div>
	</div>

	<div class="item mb-5">
		<div class="media">
			<div class="media-body">
				<h3 class="title mb-1">Linux命令</h3>
				<div class="meta mb-1"><span class="date">Updated: Oct 16th, 2019</span></div>
				<div class="intro">Linux是一套免费使用和自由传播的类Unix操作系统，是一个基于POSIX和Unix的多用户、多任务、支持多线程和多CPU的操作系统。它能运行主要的Unix工具软件、应用程序和网络协议。它支持32位和64位硬件。Linux继承了Unix以网络为核心的设计思想，是一个性能稳定的多用户网络操作系统。</div>
				<a class="more-link" href="3-linux.html">Read more &rarr;</a>
			</div>
		</div>
	</div>

	<div class="item mb-5">
		<div class="media">
			<div class="media-body">
				<h3 class="title mb-1">OpenMP使用方法</h3>
				<div class="meta mb-1"><span class="date">Updated: Oct 4th, 2019</span></div>
				<div class="intro">OpenMP是由OpenMP Architecture Review Board牵头提出的，并已被广泛接受的，用于共享内存并行 ...</div>
				<a class="more-link" href="2-openmp.html">Read more &rarr;</a>
			</div>
		</div>
	</div>

	<div class="item">
		<div class="media">
			<!-- 图片 -->
			<!-- <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="assets/images/blog/blog-post-thumb-1.jpg" alt="image"> -->
			<div class="media-body">
				<h3 class="title mb-1">How To Write A Wonderful Passage</h3>
				<!-- 日期 -->
				<div class="meta mb-1"><span class="date">Updated: Oct 5th, 2019</span></div>
				<!-- 简介 -->
				<div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...</div>
				<!-- 链接 -->
				<a class="more-link" href="1-pages.html">Read more &rarr;</a>
			</div><!--//media-body-->
		</div><!--//media-->
	</div><!--//item-->

</br>
		
	   <!-- 翻页 -->
			<nav class="blog-nav nav nav-justified my-5">
				<a class="nav-link-prev nav-item nav-link rounded-left" href="index.html">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
				<a class="nav-link-next nav-item nav-link rounded-right" href="index.html">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
			</nav>



	
	</div>
</section>

