<section class="blog-list px-3 py-5 p-md-5">
	
	<div class="container">
			<h2 class="heading"><font color="#FF8C00">Note</font></h2>

	<div class="item mb-5">
		<div class="media">
			<div class="media-body">
				<h3 class="title mb-1">LaTeX</h3>
				<div class="meta mb-1"><span class="date">Updated: Oct 21st, 2019</span></div>
				<div class="intro">LaTeX（LATEX，音译“拉泰赫”）是一种基于ΤΕΧ的排版系统，由美国计算机学家莱斯利·兰伯特（Leslie Lamport）在20世纪80年代初期开发，利用这种格式，即使使用者没有排版和程序设计的知识也可以充分发挥由TeX所提供的强大功能，能在几天，甚至几小时内 ...</div>
				<a class="more-link" href="15-tex.html">Read more &rarr;</a>
			</div>
		</div>
	</div>

	<div class="item mb-5">
		<div class="media">
			<div class="media-body">
				<h3 class="title mb-1">SS</h3>
				<div class="meta mb-1"><span class="date">Updated: Oct 21st, 2019</span></div>
				<div class="intro">Shadowsocks（简称SS）是一種基於Socks5代理方式的加密傳輸协议，也可以指实现這個协议的各種开发包。目前套件使用Python、C、C++、C#、Go语言、Rust等程式 ...</div>
				<a class="more-link" href="14-ss.html">Read more &rarr;</a>
			</div>
		</div>
	</div>
			
	<div class="item mb-5">
		<div class="media">
			<div class="media-body">
				<h3 class="title mb-1">Go</h3>
				<div class="meta mb-1"><span class="date">Updated: Oct 21st, 2019</span></div>
				<div class="intro">Go 是一个开源的编程语言，它能让构造简单、可靠且高效的软件变得容易。 Go是从2007年末由Robert Griesemer, Rob Pike, Ken Thompson主持开发，后来还加入了Ian Lance Taylor, Russ Cox等人，并最终于2009年11月开源，在2012年早些时候发布 ...</div>
				<a class="more-link" href="13-go.html">Read more &rarr;</a>
			</div>
		</div>
	</div>
			

	<div class="item mb-5">
		<div class="media">
			<div class="media-body">
				<h3 class="title mb-1">Python</h3>
				<div class="meta mb-1"><span class="date">Updated: Oct 21st, 2019</span></div>
				<div class="intro">Python 是一种解释型、面向对象、动态数据类型的高级程序设计语言。 Python 由 Guido van Rossum 于 1989 年底发明，第一个公开发行版发行于 1991 年。 像 Perl 语言一样, Python 源代码同样遵循 GPL(GNU General Public License) 协议 ...</div>
				<a class="more-link" href="12-python.html">Read more &rarr;</a>
			</div>
		</div>
	</div>

	<div class="item mb-5">
		<div class="media">
			<div class="media-body">
				<h3 class="title mb-1">Tmux</h3>
				<div class="meta mb-1"><span class="date">Updated: Oct 21st, 2019</span></div>
				<div class="intro">Tmux是一个优秀的终端复用软件，类似GNU Screen，但来自于OpenBSD，采用BSD授权。使用它最直观的好处就是，通过一个终端登录远程主机并运行tmux后，在其中可以开启多个控制台而无需再“浪费”多余的终端来连接这台远程主机 ...</div>
				<a class="more-link" href="11-tmux.html">Read more &rarr;</a>
			</div>
		</div>
	</div>
			

	<div class="item mb-5">
		<div class="media">
			<div class="media-body">
				<h3 class="title mb-1">Kali</h3>
				<div class="meta mb-1"><span class="date">Updated: Oct 16th, 2019</span></div>
				<div class="intro">Kali Linux是基于Debian的Linux发行版， 设计用于数字取证操作系统。由Offensive Security Ltd维护和资助。最先由Offensive Security的Mati Aharoni和Devon Kearns通过重写BackTrack来完成，BackTrack是他们之前写的用于取证的Linux发行版。Kali ...</div>
				<a class="more-link" href="10-kali.html">Read more &rarr;</a>
			</div>
		</div>
	</div>


	<div class="item mb-5">
		<div class="media">
			<div class="media-body">
				<h3 class="title mb-1">Docker</h3>
				<div class="meta mb-1"><span class="date">Updated: Oct 16th, 2019</span></div>
				<div class="intro">Docker 是一个开源的应用容器引擎，让开发者可以打包他们的应用以及依赖包到一个可移植的镜像中，然后发布到任何流行的 Linux或Windows 机器上，也可以实现虚拟化。容器是完全使用沙箱机制，相互之间不会有任何接口 ...</div>
				<a class="more-link" href="9-docker.html">Read more &rarr;</a>
			</div>
		</div>
	</div>

	<div class="item mb-5">
		<div class="media">
			<div class="media-body">
				<h3 class="title mb-1">Java</h3>
				<div class="meta mb-1"><span class="date">Updated: Oct 16th, 2019</span></div>
				<div class="intro">Java 是由Sun Microsystems公司于1995年5月推出的高级程序设计语言。 Java可运行于多个平台，如Windows, Mac OS，及其他多种UNIX版本的系统 ...</div>
				<a class="more-link" href="8-java.html">Read more &rarr;</a>
			</div>
		</div>
	</div>

	<div class="item mb-5">
		<div class="media">
			<div class="media-body">
				<h3 class="title mb-1">GCC</h3>
				<div class="meta mb-1"><span class="date">Updated: Oct 16th, 2019</span></div>
				<div class="intro">GCC编译器也称为Linux GCC命令，它有很多选项。GCC编译器是Linux下最常用的编译器 ...</div>
				<a class="more-link" href="7-gcc.html">Read more &rarr;</a>
			</div>
		</div>
	</div>

	<div class="item mb-5">
		<div class="media">
			<div class="media-body">
				<h3 class="title mb-1">Network</h3>
				<div class="meta mb-1"><span class="date">Updated: Oct 16th, 2019</span></div>
				<div class="intro">A computer network is a digital telecommunications network which allows nodes to share resources. In computer networks, computing devices exchange data with each other using connections (data links) between nodes. </div>
				<a class="more-link" href="6-network.html">Read more &rarr;</a>
			</div>
		</div>
	</div>


	<div class="item mb-5">
		<div class="media">
			<div class="media-body">
				<h3 class="title mb-1">Vi/Vim</h3>
				<div class="meta mb-1"><span class="date">Updated: Oct 16th, 2019</span></div>
				<div class="intro">所有的 Unix Like 系统都会内建 vi 文书编辑器，其他的文书编辑器则不一定会存在。但是目前我们使用比较多的是 vim 编辑器。vim 具有程序编辑的能力，可以主动的以字体颜色辨别语法的正确性，方便程序设计。</div>
				<a class="more-link" href="5-vi.html">Read more &rarr;</a>
			</div>
		</div>
	</div>


	<div class="item mb-5">
		<div class="media">
			<div class="media-body">
				<h3 class="title mb-1">Git使用</h3>
				<div class="meta mb-1"><span class="date">Updated: Oct 16th, 2019</span></div>
				<div class="intro">Git 是一个开源的分布式版本控制系统，用于敏捷高效地处理任何或小或大的项目。 Git 是 Linus Torvalds 为了帮助管理 Linux 内核开发而开发的一个开放源码的版本控制软件。 Git 与常用的版本控制工具 CVS, Subversion 等不同，它采用了分布式版本库的 ...</div>
				<a class="more-link" href="4-git.html">Read more &rarr;</a>
			</div>
		</div>
	</div>

	<div class="item mb-5">
		<div class="media">
			<div class="media-body">
				<h3 class="title mb-1">Linux</h3>
				<div class="meta mb-1"><span class="date">Updated: Oct 16th, 2019</span></div>
				<div class="intro">Linux是一套免费使用和自由传播的类Unix操作系统，是一个基于POSIX和Unix的多用户、多任务、支持多线程和多CPU的操作系统。它能运行主要的Unix工具软件、应用程序和网络协议。它支持32位和64位硬件。Linux继承了Unix以网络为核心的设计思想，是一个性能稳定的多用户网络操作系统。</div>
				<a class="more-link" href="3-linux.html">Read more &rarr;</a>
			</div>
		</div>
	</div>

	<div class="item mb-5">
		<div class="media">
			<div class="media-body">
				<h3 class="title mb-1">OpenMP使用方法</h3>
				<div class="meta mb-1"><span class="date">Updated: Oct 4th, 2019</span></div>
				<div class="intro">OpenMP是由OpenMP Architecture Review Board牵头提出的，并已被广泛接受的，用于共享内存并行 ...</div>
				<a class="more-link" href="2-openmp.html">Read more &rarr;</a>
			</div>
		</div>
	</div>

	<div class="item">
		<div class="media">
			<!-- 图片 -->
			<!-- <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="assets/images/blog/blog-post-thumb-1.jpg" alt="image"> -->
			<div class="media-body">
				<h3 class="title mb-1">How To Write A Wonderful Passage</h3>
				<!-- 日期 -->
				<div class="meta mb-1"><span class="date">Updated: Oct 5th, 2019</span></div>
				<!-- 简介 -->
				<div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...</div>
				<!-- 链接 -->
				<a class="more-link" href="1-pages.html">Read more &rarr;</a>
			</div><!--//media-body-->
		</div><!--//media-->
	</div><!--//item-->

</br>
		
	   <!-- 翻页 -->
			<nav class="blog-nav nav nav-justified my-5">
				<a class="nav-link-prev nav-item nav-link rounded-left" href="index.html">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
				<a class="nav-link-next nav-item nav-link rounded-right" href="index.html">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
			</nav>



	
	</div>
</section>

