
		<article class="blog-post px-3 py-5 p-md-5">
                <div class="container">
                    <header class="blog-post-header">
                        <!-- 标题 -->
                        <h2 class="title mb-2">Kali</h2>
                        <!-- 时间 -->
                        <div class="meta mb-3"><span class="date">Updated: Oct 16th, 2019</span></div>
                    </header>
                    
                    <div class="blog-post-body">
                        <!-- 图片及描述 -->
                        <!-- <figure class="blog-banner">
                            <a href="#"><img class="img-fluid" src="assets/images/blog/blog-post-banner.jpg" alt="image"></a>
                            <figcaption class="mt-2 text-center image-caption">Image Credit: <a href="#?ref=devblog" target="_blank">made4dev.com (Premium Programming T-shirts)</a></figcaption>
                        </figure> -->

                        <!-- 摘要 -->
                        <p>
                            Kali Linux是基于Debian的Linux发行版， 设计用于数字取证操作系统。由Offensive Security Ltd维护和资助。最先由Offensive Security的Mati Aharoni和Devon Kearns通过重写BackTrack来完成，BackTrack是他们之前写的用于取证的Linux发行版。</br>
                            Kali Linux预装了许多渗透测试软件，包括nmap 、Wireshark 、John the Ripper，以及Aircrack-ng；用户可通过硬盘、live CD或live USB运行Kali Linux。Kali Linux既有32位和64位的镜像。可用于x86 指令集。同时还有基于ARM架构的镜像，可用于树莓派和三星的ARM Chromebook。
                        </p>
                        
                        <h3 class="mt-5 mb-3">Install</h3>
                        <p>
                            <pre><code>
# 从Docker安装
docker pull kalilinux/kali-linux-docker
# 运行
docker run -t -i kalilinux/kali-linux-docker /bin/bash
                            </code></pre>
                        </p>

                        <h3 class="mt-5 mb-3">设置镜像源</h3>
                        <p>
                            <pre><code>
# 修改/etc/apt/source.list
# 中科大
deb http://mirrors.ustc.edu.cn/kali kali-rolling main non-free contrib
deb-src http://mirrors.ustc.edu.cn/kali kali-rolling main non-free contrib
 
# 阿里云
deb http://mirrors.aliyun.com/kali kali-rolling main non-free contrib
deb-src http://mirrors.aliyun.com/kali kali-rolling main non-free contrib
 
# 清华
deb http://mirrors.tuna.tsinghua.edu.cn/kali kali-rolling main contrib non-free
deb-src https://mirrors.tuna.tsinghua.edu.cn/kali kali-rolling main contrib non-free
 
# 浙大
deb http://mirrors.zju.edu.cn/kali kali-rolling main contrib non-free
deb-src http://mirrors.zju.edu.cn/kali kali-rolling main contrib non-free
 
# 官方源
deb http://http.kali.org/kali kali-rolling main non-free contrib
deb-src http://http.kali.org/kali kali-rolling main non-free contrib
 
deb http://mirrors.163.com/debian/ jessie main non-free contrib
deb http://mirrors.163.com/debian/ jessie-updates main non-free contrib
deb http://mirrors.163.com/debian/ jessie-backports main non-free contrib
deb-src http://mirrors.163.com/debian/ jessie main non-free contrib
deb-src http://mirrors.163.com/debian/ jessie-updates main non-free contrib
deb-src http://mirrors.163.com/debian/ jessie-backports main non-free contrib
deb http://mirrors.163.com/debian-security/ jessie/updates main non-free contrib
deb-src http://mirrors.163.com/debian-security/ jessie/updates main non-free contrib
                            </code></pre>
                        </p>

                      

                        <h3 class="mt-5 mb-3">More</h3>
                        <p>
                            See detail in these websites.
                            </br>
                            <a href='https://www.kali.org/' target="_blank">kali官网</a>
                        </p>
                      
                    </div>

                    <!-- 翻页 -->
                    <nav class="blog-nav nav nav-justified my-5">
                      <a class="nav-link-prev nav-item nav-link rounded-left" href="9-docker.html">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
                      <a class="nav-link-next nav-item nav-link rounded-right" href="11-tmux.html">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
                    </nav>
                    
                    <div class="blog-comments-section">
                        <div id="disqus_thread"></div>
                        <script>					    
                            (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
                                var d = document, s = d.createElement('script');					        
                                // IMPORTANT: Replace 3wmthemes with your forum shortname!
                                s.src = '';					        
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
    
                        <noscript>
                            Please enable JavaScript to view the 
                            <a href="https://disqus.com/?ref_noscript" rel="nofollow">
                                comments powered by Disqus.
                            </a>
                        </noscript>
                    </div><!--//blog-comments-section-->
                    
                </div><!--//container-->
            </article>
