
		<article class="blog-post px-3 py-5 p-md-5">
                <div class="container">
                    <header class="blog-post-header">
                        <!-- 标题 -->
                        <h2 class="title mb-2">Tmux</h2>
                        <!-- 时间 -->
                        <div class="meta mb-3"><span class="date">Updated: Oct 21st, 2019</span></div>
                    </header>
                    
                    <div class="blog-post-body">
                        <!-- 图片及描述 -->
                        <!-- <figure class="blog-banner">
                            <a href="#"><img class="img-fluid" src="assets/images/blog/blog-post-banner.jpg" alt="image"></a>
                            <figcaption class="mt-2 text-center image-caption">Image Credit: <a href="#?ref=devblog" target="_blank">made4dev.com (Premium Programming T-shirts)</a></figcaption>
                        </figure> -->

                        <!-- 摘要 -->
                        <p>
                            Tmux是一个优秀的终端复用软件，类似GNU Screen，但来自于OpenBSD，采用BSD授权。</br>
                            使用它最直观的好处就是，通过一个终端登录远程主机并运行tmux后，在其中可以开启多个控制台而无需再“浪费”多余的终端来连接这台远程主机 ...
                        </p>
                        
                        <h3 class="mt-5 mb-3">Install</h3>
                        <p>
                            <pre><code>
# Ubuntu
sudo apt-get install tmux
# MacOS
brew install tmux
                            </code></pre>
                        </p>

                        <h3 class="mt-5 mb-3">基本操作</h3>
                        <p>
                            <pre><code>
# 新建会话                                
tmux # 新建一个无名称的会话
tmux new -s demo # 新建一个名称为demo的会话
# 进入之前会话
tmux a # 默认进入第一个会话
tmux a -t demo # 进入到名称为demo的会话
# 关闭会话
tmux kill-session -t demo # 关闭demo会话
tmux kill-server # 关闭服务器，所有的会话都将关闭
# 查看会话
tmux list-session # 查看所有会话
tmux ls # 查看所有会话，提倡使用简写形式

# 垂直分屏
ctrl+b+% 
# 水平分屏
ctrl+b+" 
# 根据按箭方向选择切换到某个pane。
ctrl+b+Up|Down|Left|Right 

# 滚屏
# 要进入copy-mode，即PREFIX+[，然后就可以用上下键来滚动屏幕，配置了vi快捷键模式，
# 就可以像操作vi一样来滚动屏幕，非常的方便。退出直接按‘q’键即可。
                            </code></pre>
                        </p>
                    
                        <h3 class="mt-5 mb-3">More</h3>
                        <p>
                            See detail in these websites.
                            </br>
                            <a href='http://louiszhai.github.io/2017/09/30/tmux/' target="_blank">Tmux使用手册</a>
                        </p>
                      
                    </div>

                    <!-- 翻页 -->
                    <nav class="blog-nav nav nav-justified my-5">
                      <a class="nav-link-prev nav-item nav-link rounded-left" href="10-kali.html">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
                      <a class="nav-link-next nav-item nav-link rounded-right" href="12-python.html">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
                    </nav>
                    
                    <div class="blog-comments-section">
                        <div id="disqus_thread"></div>
                        <script>					    
                            (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
                                var d = document, s = d.createElement('script');					        
                                // IMPORTANT: Replace 3wmthemes with your forum shortname!
                                s.src = '';					        
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
    
                        <noscript>
                            Please enable JavaScript to view the 
                            <a href="https://disqus.com/?ref_noscript" rel="nofollow">
                                comments powered by Disqus.
                            </a>
                        </noscript>
                    </div><!--//blog-comments-section-->
                    
                </div><!--//container-->
            </article>
