


<article class="blog-post px-3 py-5 p-md-5">
    <div class="container">
        <header class="blog-post-header">
            <!-- 标题 -->
            <h2 class="title mb-2">常用网站整理</h2>
            <!-- 时间 -->
            <div class="meta mb-3"><span class="date">Updated: Nov 24th, 2019</span></div>
        </header>
        
        <div class="blog-post-body">
            <!-- 图片及描述 -->
            <!-- <figure class="blog-banner">
                <a href="#"><img class="img-fluid" src="assets/images/blog/blog-post-banner.jpg" alt="image"></a>
                <figcaption class="mt-2 text-center image-caption">Image Credit: <a href="#?ref=devblog" target="_blank">made4dev.com (Premium Programming T-shirts)</a></figcaption>
            </figure> -->

            <!-- 摘要 -->
            <p>                   
                整理了一些经常用到的网站 ...                 
            </p>
            
            <h3 class="mt-5 mb-3">Research</h3>
            <h4>好的仓库</h4>
<a href="https://zjusct.github.io/archives/">https://zjusct.github.io/archives/</a></br>
<a href="https://pmpml.github.io/PMPML16/">https://pmpml.github.io/PMPML16/</a></br>
<a href="https://github.com/momodel/AIClub">https://github.com/momodel/AIClub</a></br>

<a href="https://machine-learning-and-security.github.io/">https://machine-learning-and-security.github.io/</a></br>
<a href="https://ying-zhang.github.io/misc/2016/we-love-paper/">https://ying-zhang.github.io/misc/2016/we-love-paper/</a></br>
<a href="https://daiwk.github.io/posts/dl-federated-learning.html">https://daiwk.github.io/posts/dl-federated-learning.html</a></br>
<h4>论文查找</h4>
<a href="https://arxiv.org/">https://arxiv.org/</a></br>
<a href="https://scholar.google.com/">https://scholar.google.com/</a></br>
<a href="http://www.arxiv-sanity.com/">http://www.arxiv-sanity.com/</a></br>
<a href="http://scholar.chongbuluo.com">http://scholar.chongbuluo.com</a></br>
<a href="http://libweb.zju.edu.cn/libweb/">http://libweb.zju.edu.cn/libweb/</a></br>
<a href="https://ieeexplore.ieee.org/Xplore/home.jsp">https://ieeexplore.ieee.org/Xplore/home.jsp</a></br>
<h4>查重</h4>
<a href="https://paperpass.com/">https://paperpass.com/</a></br>
<a href="http://dsa.dayainfo.com/">http://dsa.dayainfo.com/</a></br>


<h4>会议/期刊</h4>
<a href="http://www.myhuiban.com/">http://www.myhuiban.com/</a></br>
<a href="https://www.ccf.org.cn/xspj/gyml/">https://www.ccf.org.cn/xspj/gyml/</a></br>
<a href="http://jianying.space/conference-ranking.html">http://jianying.space/conference-ranking.html</a></br>
<a href="http://faculty.cs.tamu.edu/guofei/sec_conf_stat.htm">http://faculty.cs.tamu.edu/guofei/sec_conf_stat.htm</a></br>
<h3 class="mt-5 mb-3">编程</h3>
<h4>框架</h4>
<a href="https://beego.me/docs/">https://beego.me/docs/</a></br>
<a href="https://tongji.baidu.com/">https://tongji.baidu.com/</a></br>
<a href="https://graphql.cn/learn/">https://graphql.cn/learn/</a></br>
<h4>刷题</h4>
<a href="https://pintia.cn/">https://pintia.cn/</a></br>
<a href="https://leetcode.com/">https://leetcode.com/</a></br>

<h4>问答</h4>
<a href="https://stackoverflow.com/">https://stackoverflow.com/</a></br>

<h4>练习</h4>
<a href="https://zjusec.com/">https://zjusec.com/</a></br>

<h4>社区/镜像</h4>
<a href="https://www.anquanke.com">https://www.anquanke.com</a></br>
<a href="http://mirrors.zju.edu.cn/">http://mirrors.zju.edu.cn/</a></br>
<a href="https://nbviewer.jupyter.org/">https://nbviewer.jupyter.org/</a></br>
<a href="https://workers.cloudflare.com">https://workers.cloudflare.com</a></br>
<a href="https://cloud.digitalocean.com/projects">https://cloud.digitalocean.com/projects</a></br>
<a href="https://mirrors.tuna.tsinghua.edu.cn">https://mirrors.tuna.tsinghua.edu.cn</a></br>

<h3 class="mt-5 mb-3">资源/工具</h3>
<h4>在线学习</h4>
<a href="https://www.icourse163.org/">https://www.icourse163.org/</a></br>
<h4>云盘</h4>
<a href="http://pan.zju.edu.cn">http://pan.zju.edu.cn</a></br>
<a href="https://box.zjuqsc.com/">https://box.zjuqsc.com/</a></br>

<h4>资源搜索</h4>
<a href="http://magnet.chongbuluo.com/">http://magnet.chongbuluo.com/</a></br>
<h4>pdf处理</h4>
<a href="https://smallpdf.com/">https://smallpdf.com/</a></br>
<h4>电子书资源</h4>
<a href="http://ireadweek.com">http://ireadweek.com</a></br>
<h4>求职</h4>
<a href="https://www.cc98.org/topic/4855625/1">https://www.cc98.org/topic/4855625/1</a></br>
<a href="https://app.docusign.com/preferences/signatures">https://app.docusign.com/preferences/signatures</a></br>  
        </div>

        <!-- 翻页 -->
        <nav class="blog-nav nav nav-justified my-5">
          <a class="nav-link-prev nav-item nav-link rounded-left" href="16-search.html">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
          <a class="nav-link-next nav-item nav-link rounded-right" href="#">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
        </nav>
        
        <div class="blog-comments-section">
            <div id="disqus_thread"></div>
            <script>					    
                (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
                    var d = document, s = d.createElement('script');					        
                    // IMPORTANT: Replace 3wmthemes with your forum shortname!
                    s.src = '';					        
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>

            <noscript>
                Please enable JavaScript to view the 
                <a href="https://disqus.com/?ref_noscript" rel="nofollow">
                    comments powered by Disqus.
                </a>
            </noscript>
        </div><!--//blog-comments-section-->
        
    </div><!--//container-->
</article>
