
		<article class="blog-post px-3 py-5 p-md-5">
                <div class="container">
                    <header class="blog-post-header">
                        <!-- 标题 -->
                        <h2 class="title mb-2">Network</h2>
                        <!-- 时间 -->
                        <div class="meta mb-3"><span class="date">Updated: Oct 16th, 2019</span></div>
                    </header>
                    
                    <div class="blog-post-body">
                        <!-- 图片及描述 -->
                        <!-- <figure class="blog-banner">
                            <a href="#"><img class="img-fluid" src="assets/images/blog/blog-post-banner.jpg" alt="image"></a>
                            <figcaption class="mt-2 text-center image-caption">Image Credit: <a href="#?ref=devblog" target="_blank">made4dev.com (Premium Programming T-shirts)</a></figcaption>
                        </figure> -->

                        <!-- 摘要 -->
                        <p>
                            A computer network is a digital telecommunications network which allows nodes to share resources. In computer networks, computing devices exchange data with each other using connections (data links) between nodes. 
                        </p>
                        
                        <h3 class="mt-5 mb-3">IP Address(5 Classes)</h3>
                        <p>
                                <table border="1">
                                <tr><td> key                 </td><td> function             </td></tr>
                                <tr><td> Bits                </td><td> 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 </td></tr>
                                <tr><td> Class A             </td><td> 0 prefix        suffix</td></tr>
                                <tr><td> Class B             </td><td> 1 0 prefix                             suffix    </td></tr>
                                <tr><td> Class C             </td><td> 1 1 0 prefix                                                   suffix</td></tr>
                                <tr><td> Class D             </td><td> 1 1 1 0 multicast address</td></tr>
                                <tr><td> Class E             </td><td> 1 1 1 1 reserved for future use</td></tr>
                                    </table>

                            </p>

                        <h3 class="mt-5 mb-3">Commands</h3>
                        <p>
                            <pre><code>
ping 
domainname
hostname

cat /etc/hosts # ip address
sudo systemctl restart NetworkManager # hosts生效

cat /etc/resolv.conf # dns server
ip # TCP/IP interface configuration and routing utility
ifconfig # configure a network interface
route # show / manipulate the IP routing table
netstat # show network status (network connections, routing tables, interface statistics, masquerade connections, and multicast memberships)

sudo ping ip地址 -i 0.01 -s 65500 # 每0.01秒给ip地址对应的机器发送65500字节的数据包
                            </code></pre>
                        </p>

                        <h3 class="mt-5 mb-3">Useful Remote Connection Utilities</h3>
                        <p>
                                • ftp [options] host</br>
                                transfer file(s) using file transfer protocol</br>
                                • telnet [host [port]]</br>
                                communicate with host using telnet protocol</br>
                                • Are they secured? Any user/passwd information on network?</br>
                                
                                • rlogin/rsh, login/shell execution remotely on another machine; ssh, remote login or remote execution using secure shell</br>
                                • rcp/scp, remotely copy files from this machine to another machine; rsync, smartly copy files over network after checking contents.</br>
                                • curl transfer a URL via HTTP, FTP, IMAP, etc.</br>
                                • wget download files over the Internet via HTTP or FTP.</br>
                                • lynx / links text-mode (mini) web browser
                        </p>
                        
                        <h3 class="mt-5 mb-3">aria2</h3>
                        <p>
                            (1)Install  
                            <pre><code>
# Ubuntu
sudo apt-get install aria2
# CentOS
yum install aria2
                            </code></pre>  
                            
                            (2)Usage
                            <pre><code>
# 在命令后附加地址即可
aria2c "url"

# 分段下载，利用 aria2 的分段下载功能可以加快文件的下载速度
# 使用 2 个连接来下载该文件，s的参数值介于 1~5 之间
aria2c -s 2 "url"  

# 断点续传，在命令中使用 c 选项可以断点续传文件
aria2c -c "url"
                            </code></pre>
                                
                        </p>

                        <h3 class="mt-5 mb-3">SSH</h3>
                        <p>
                            <pre><code>
# 安装 *SSH(Secure Shell)* 服务以提供远程管理服务
sudo apt install openssh-server

# 启动ssh服务
/etc/init.d/ssh start
sudo service ssh start

# 检测是否已启动
ps -e | grep ssh


# SSH远程登录
ssh username@192.168.0.1

# 将*文件/文件夹*从远程机*下载*到本地(scp) 
scp -r username@192.168.0.1:/home/username/remotefile.txt .

# 将*文件/文件夹*从本地*推送*到远程机(scp) 
scp -r localfile.txt username@192.168.0.1:/home/username/   

# 设置公钥登录
# (1)复制本地的公钥
cat ~/.ssh/id_rsa.pub
# (2)在远程机器上写入复制的公钥
vim ~/.ssh/authorized_keys
chmod 600 ~/.ssh/authorized_keys
# (3)远程机器授权公钥登录
sudo echo "PubkeyAuthentication yes" >> /etc/ssh/sshd_config
# (4)重启ssh服务
sudo systemctl restart sshd.service
                            </code></pre>
                            </p>

                            <h3 class="mt-5 mb-3">校园网vpn设置</h3>
                        <p>
                            <pre><code>
# 安装
sudo apt install network-manager-l2tp
sudo apt install network-manager-l2tp-gnome
# 命令行连接zju vpn
sudo nmcli con up ZJU --ask
</code></pre>
</p>

                      
                        
    
                        <h3 class="mt-5 mb-3">More</h3>
                        <p>
                            See detail in these websites.
                            </br>
                            <a href='https://www.qingtingip.com/h_189554.html' target="_blank">nmcli用法</a>
                        </p>
                      
                    </div>

                    <!-- 翻页 -->
                    <nav class="blog-nav nav nav-justified my-5">
                      <a class="nav-link-prev nav-item nav-link rounded-left" href="5-vi.html">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
                      <a class="nav-link-next nav-item nav-link rounded-right" href="7-gcc.html">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
                    </nav>
                    
                    <div class="blog-comments-section">
                        <div id="disqus_thread"></div>
                        <script>					    
                            (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
                                var d = document, s = d.createElement('script');					        
                                // IMPORTANT: Replace 3wmthemes with your forum shortname!
                                s.src = '';					        
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
    
                        <noscript>
                            Please enable JavaScript to view the 
                            <a href="https://disqus.com/?ref_noscript" rel="nofollow">
                                comments powered by Disqus.
                            </a>
                        </noscript>
                    </div><!--//blog-comments-section-->
                    
                </div><!--//container-->
            </article>
            
    
    
    
    
    
    