
		<article class="blog-post px-3 py-5 p-md-5">
                <div class="container">
                    <header class="blog-post-header">
                        <!-- 标题 -->
                        <h2 class="title mb-2">GCC</h2>
                        <!-- 时间 -->
                        <div class="meta mb-3"><span class="date">Updated: Oct 16th, 2019</span></div>
                    </header>
                    
                    <div class="blog-post-body">
                        <!-- 图片及描述 -->
                        <!-- <figure class="blog-banner">
                            <a href="#"><img class="img-fluid" src="assets/images/blog/blog-post-banner.jpg" alt="image"></a>
                            <figcaption class="mt-2 text-center image-caption">Image Credit: <a href="#?ref=devblog" target="_blank">made4dev.com (Premium Programming T-shirts)</a></figcaption>
                        </figure> -->

                        <!-- 摘要 -->
                        <p>
                            GCC编译器也称为Linux GCC命令，它有很多选项。GCC编译器是Linux下最常用的编译器。
                        </p>
                        
                        <h3 class="mt-5 mb-3">基本使用</h3>
                        <p>
                            
                            <pre><code>
gcc -c filename.c # compile only, produce .o
gcc -g # compile for debugging
gcc -o filename.o # 
gcc -O1,2,3,4,s,fast # for optimization level
gcc -Ipathname 
gcc -Dsymbol # define preprocessor symbol
gcc -Ldirectory # add directory to the library search path
gcc -lxyz # link with library libxyz.a or libxyz.so
                            </code></pre>
                        </p>

                        <h3 class="mt-5 mb-3">gdb</h3>
                        <p>
                            <pre><code>
gdb a.out # debug
list
br 8 # breakpoint in line 8
run # 
print value 
next
where
help
quit
                            </code></pre>
                        </p>

                        <h3 class="mt-5 mb-3">make</h3>
                        <p>
                            (1)Predefined Macros
                            <pre><code>
AS - assembler (as)
CC - C compiler command (cc)
FC - Fortran compiler command (fc)
CPP - C++ preprocessing command ($(CC) -E)
CXX - C++ compiler command (g++)
CFLAGS - C compiler option flags (e.g. -g)
FFLAGS - Fortran compiler option flags (e.g. -g)
LDFLAGS - Linking option flags (e.g. –L /usr/share/lib)
LDLIBS – Linking libraries (e.g. -lm)
                            </code></pre>
                            (2)Special Internal Macros
                            <pre><code>
$*
# The basename of the current target
$&lt;
# The name of a dependency file, as we see on last page
$@
# The name of the current target.
$?
# The list of dependencies that are newer than the target.
                            </code></pre>
                        </p>
                        
                        

                      
                        
    
                        <h3 class="mt-5 mb-3">More</h3>
                        <p>
                            See detail in these websites.
                            </br>
                            <a href='https://blog.csdn.net/gatieme/article/details/51671430' target="_blank">more of gdb</a>
                            
                        </p>
                      
                    </div>

                    <!-- 翻页 -->
                    <nav class="blog-nav nav nav-justified my-5">
                      <a class="nav-link-prev nav-item nav-link rounded-left" href="6-network.html">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
                      <a class="nav-link-next nav-item nav-link rounded-right" href="8-java.html">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
                    </nav>
                    
                    <div class="blog-comments-section">
                        <div id="disqus_thread"></div>
                        <script>					    
                            (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
                                var d = document, s = d.createElement('script');					        
                                // IMPORTANT: Replace 3wmthemes with your forum shortname!
                                s.src = '';					        
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
    
                        <noscript>
                            Please enable JavaScript to view the 
                            <a href="https://disqus.com/?ref_noscript" rel="nofollow">
                                comments powered by Disqus.
                            </a>
                        </noscript>
                    </div><!--//blog-comments-section-->
                    
                </div><!--//container-->
            </article>
            
    
    
    
    
    
    