
		<article class="blog-post px-3 py-5 p-md-5">
                <div class="container">
                    <header class="blog-post-header">
                        <!-- 标题 -->
                        <h2 class="title mb-2">Docker</h2>
                        <!-- 时间 -->
                        <div class="meta mb-3"><span class="date">Updated: Oct 16th, 2019</span></div>
                    </header>
                    
                    <div class="blog-post-body">
                        <!-- 图片及描述 -->
                        <!-- <figure class="blog-banner">
                            <a href="#"><img class="img-fluid" src="assets/images/blog/blog-post-banner.jpg" alt="image"></a>
                            <figcaption class="mt-2 text-center image-caption">Image Credit: <a href="#?ref=devblog" target="_blank">made4dev.com (Premium Programming T-shirts)</a></figcaption>
                        </figure> -->

                        <!-- 摘要 -->
                        <p>
                            Docker 是一个开源的应用容器引擎，让开发者可以打包他们的应用以及依赖包到一个可移植的镜像中，然后发布到任何流行的 Linux或Windows 机器上，也可以实现虚拟化。容器是完全使用沙箱机制，相互之间不会有任何接口。
                        </p>
                        
                        <h3 class="mt-5 mb-3">Install</h3>
                        <p>
                            <pre><code>
# Ubuntu                                
curl -fsSL https://get.docker.com -o get-docker.sh
sudo sh get-docker.sh
                            </code></pre>
                        </p>

                      


                        <h3 class="mt-5 mb-3">More</h3>
                        <p>
                            See detail in these websites.
                            </br>
                            <a href='https://wiki.jikexueyuan.com/project/docker-technology-and-combat/save_load.html' target="_blank">教程1</a>
                        </br>
                            <a href="https://zhuanlan.zhihu.com/p/82433360?app=zhihulite&utm_campaign=lite_share&invite_code=XFMDAK&sign=MTU2ODM5MTUyNDY5MQ%3D%3D" target="_blank">教程2</a>
                        </p>
                      
                    </div>

                    <!-- 翻页 -->
                    <nav class="blog-nav nav nav-justified my-5">
                      <a class="nav-link-prev nav-item nav-link rounded-left" href="8-java.html">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
                      <a class="nav-link-next nav-item nav-link rounded-right" href="10-kali.html">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
                    </nav>
                    
                    <div class="blog-comments-section">
                        <div id="disqus_thread"></div>
                        <script>					    
                            (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
                                var d = document, s = d.createElement('script');					        
                                // IMPORTANT: Replace 3wmthemes with your forum shortname!
                                s.src = '';					        
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
    
                        <noscript>
                            Please enable JavaScript to view the 
                            <a href="https://disqus.com/?ref_noscript" rel="nofollow">
                                comments powered by Disqus.
                            </a>
                        </noscript>
                    </div><!--//blog-comments-section-->
                    
                </div><!--//container-->
            </article>
            
    
    
    
    
    
    



